<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Agenti</title>

<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="klijent.js"></script>
 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="app">

<div ng-controller="klijentController" >

<header>
  <h2>Agenti</h2>
</header>
	<nav>
   		<h3>Active agents : <h3>
		
		<div ng-repeat="agent in activeAgents">
			<p > {{agent.aid.name}}</p>
		</div>
		
	

   		<h3>All agent types : <h3>
   		<div ng-repeat="tip in tipovi">
   			<button type="submit" style="float: right !important;" ng-click="activate(tip)" class="btn btn-primary"   >
                <img class="clearDelete" src="activate.png" width="15" height="15" title="Add" alt="submit" />
            </button>
			<p > {{tip.name}}</p>
			<input ng-model="tip.agentName"></input>
		
		</div>

		</br>
   		<button ng-click="startAI()">Start AI</button>
  	</nav>
  	
  	<article>
   
   		<h2> ACL Message <h2>

  		<h3>Performative :<h3>
  			<select ng-model="selectedPerform" ng-options="p for p in performatives" class="form-control" ><option></option></select>

  		<h3>Sender :<h3>
  			<select ng-model="selectedSender" class="form-control" ng-options="s.aid.name for s in sender"><option></option></select>

  		<h3>Receiver :<h3>
  			<select   ng-model="selectedReceivers" multiple="true" class="form-control" ng-options="r.aid.name for r in receivers"><option></option></select>

  		<h3>Reply to :<h3>
  			<input ng-model="replyTo"></input> 
  		<h3>Content :<h3>
  			<input ng-model="content"></input> 
  		<h3>Language :<h3>
  			<input ng-model="language"></input> 
  		<h3>Encoding :<h3>
  			<input ng-model="encoding"></input> 
  		<h3>Ontology :<h3>
  			<input ng-model="ontology"></input>
  		<h3>Protocol :<h3>
  			<input ng-model="protocol"></input> 
  		<h3>Conversation ID :<h3>
  			<input ng-model="convId"></input> 
  		<h3>Reply with :<h3>
  			<input ng-model="replyWith"></input> 
  		<h3>Reply by :<h3>
  			<input ng-model="replyBy"></input>  
		</br>
		</br>
  		<button ng-click="send(selectedPerform, selectedSender, selectedReceivers, replyTo, content, language, encoding, ontology, protocol, convId, replyWith, replyBy)">Send</button> <button ng-click="clear(selectedPerform, selectedSender, selectedReceivers, replyTo, content, language, encoding, ontology, protocol, convId, replyWith, replyBy)" >Clear</button>

  </article>


<footer>
  <p>Messages :</p>
  <div ng-repeat="poruka in aclPoruke">
   		<p>{{poruka}}</p>
	</div>
</footer>


</div>


</body>
</html>